<br>
<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p>Blocipedia is a wiki resource for sharing links with your friends!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Solves world hunger</h2>
    <p>Est zril fabulas epicurei id. Ius cu fugit homero, vix an nobis consul semper. Vim postea suavitate conclusionemque ad, conceptam constituto honestatis ne quo. Eam oblique expetenda no, eum in labore audire. Aeque blandit cu usu, no errem nullam posidonium sed. Putent quidam option no vim, ei summo percipit quo..</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates poverty</h2>
    <p>Impetus copiosae suscipiantur ad vix, facer postea salutandi ad vel. Eu sea eleifend expetenda. Amet pericula at nec. Id qui aperiam offendit prodesset, porro eloquentiam eos an.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Ne deleniti perfecto gloriatur sea, nostro regione aperiri vis ea. Alia minim id mel, in sit posse erant corrumpit. Idque accumsan atomorum no ius, cum te omnesque qualisque.</p>
  </div>
</div>
