<br>
<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p>Blocipedia is a wiki resource for sharing links with your friends!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
      <%= link_to "Add new Wiki!", new_wiki_path, class: 'btn btn-primary' %>
      <!-- <%= link_to "View current Wikis", new_wiki_path, class: 'btn btn-primary' %> -->
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Create custom wikis!</h2>
    <p>Two types of membership:
      <ul>
        <li>Standard Membership is free</li>
        <li>Premium Membership is $10.00</li>
  </div>
  <div class="col-md-4">
    <h2>Standard Membership</h2>
    <p>Ability to created unlimited public wikis.<br>
  </div>
  <div class="col-md-4">
    <h2>Premium Membership</h2>
    <p>For only $10.00, you can upgrade to a <b>Premium Membership</b>.<br><br> With this Premium Membership, you can create <b>private</b> wikis and invite collaborators to work on your wikis.<br><br><em>Satisfiaction is always guaranteed</em> so if you are unhappy with your Premium Membership, you can downgrade back down to a Standard Membership <em>(Please note: All private wikis will become public.)</em></p>
  </div>
</div>
