<div class="media">
  <div class="media-body">
    <h2 class="media-heading">
       <%= wiki.title %> <br >
       <small>Created by: <%= link_to wiki.user.name , wiki.user %></small>
    </h2>
    <% if wiki.private %>
      Private Wiki
    <% else %>
      Public Wiki
    <% end %>
    <div>
      <%= wiki.body %>
    </div>
  </div>
</div>
