<div class="row">
  <div class="col-md-8">
    <h1>Popular Wikis</h1>
    <p class="lead">Active Wikis this week</p>
  </div>
  <div class="col-md-4">
    <%= link_to wiki.title, wiki_path(wiki.id) %>
    <%= wiki.body %>
  </div>
</div>
    
